.hamburger {
  position: fixed;
  top: 1%;
  right: 5%;
  display: inline-block;
  cursor: pointer;
  z-index: 2;

  @media screen and (min-width: 1000px) {
    display: none;
  }
}
.hamburger:focus {
  outline: none;
}
.bar1, 
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.open div:first-child {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
  background-color: white;
}
.open div:nth-child(2) {
  opacity: 0;
}
.open div:last-child{
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
  background-color: white;
}